<% if category_relation %>
  <%= current_category = nil %>
<% end %>

<div class="attachments">
<% for attachment in attachments %>
  <% if category_relation %>
    <% category = eval "attachment.container.#{category_relation}" %>
    <% if(current_category != category) %>
      <h3><%= category %></h3>
      <% current_category = category %>
    <% end %>
  <% end %>

  <p><%= link_to_attachment attachment, :class => 'icon icon-attachment' -%>
  <%= h(" - #{attachment.description}") unless attachment.description.blank? %>
  <span class="size">(<%= number_to_human_size attachment.filesize %>)</span>
  <% if options[:deletable] %>
    <%= link_to image_tag('delete.png'), {:controller => 'attachments', :action => 'destroy', :id => attachment},
                                         :confirm => l(:text_are_you_sure),
                                         :method => (Redmine::VERSION::MAJOR > 1 || (Redmine::VERSION::MAJOR == 1 && Redmine::VERSION::MINOR >= 3) ? :delete : :post),
                                         :class => 'delete',
                                         :title => l(:button_delete) %>
  <% end %>
  <% if options[:author] %>
    <span class="author"><%= attachment.author %>, <%= format_time(attachment.created_on) %></span>
  <% end %>
  </p>
<% end %>
</div>
